html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #404041;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  height: 116px;
}

.header-h1 {
  color: #ED458B;
  font-weight: 700;
  margin: 0;
}

.header-h1-span {
  color: #E6E7E8;
  font-weight: 300;
}

.all-inside {
  width: 629px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.main-content {
  padding-top: 30px;
}

input {
  width: 611px;
  font-size: 3rem;
  font-weight: 300;
  padding-left: 10px;
  color: #EB008B;
}

.guess-bttn, 
.reset {
  width: 300px;
  height: 35px;
  margin-top: 25px;
  font-size: 2rem;
  color: #FFFFFF;
  background-color: #929497;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  border-radius: 16px;
}

.guess-bttn:disabled, 
.reset:disabled, 
.level-up-bttn:disabled, 
.guess-level:disabled {
  background-color: #D0D2D3;
}

.guess-bttn:hover, 
.reset:hover, 
.guess-level:hover {
  background-color: #EB008B;
}

.guess-bttn:disabled:hover, 
.reset:disabled:hover, 
.guess-level:disabled:hover {
  background-color: #D0D2D3;
}

#level-up-bttn:hover {
  background-color: #5599CC;
}

#level-up-bttn:disabled:hover {
  background-color: #D0D2D3;
}

.last-guess, 
.low-or-high {
  font-size: 2.5rem;
  color: #404041;
}

.last-guess {
  display: inline-block;
  margin-top: 30px;
}

.user-guess-number {
  color: #EB008B;
  font-family: 'Open Sans', sans-serif;
  font-size: 7rem;
  font-weight: 300;
  text-align: center;
}

.new-range {
  display: inline;
}

.low-or-high {
  margin-top: 10px;
}

.reset {
  width: 629px;
}

.new-min {
  margin-top: 20px;
}

.new-max {
  margin-top: 15px;
  margin-bottom: 17px;
}

.new-min, 
.new-max {
  color: #71A2B6;
  width: 170px;
  font-size: 2.5rem;
}

.level-up-bttn {
  width: 234px;
  margin-left: 20px;
}

.level-up-clear {
  margin-left: 20px;
}

.display-none {
  display: none;
}

.new-max:disabled::placeholder, 
.new-min:disabled::placeholder {
  color: #FFFFFF;
}

.new-max::placeholder, 
.new-min::placeholder {
  color: #D0D2D3;
}

h3 {
  font-weight: 300;
  font-size: 2rem;
  margin-top: 20px;
}

.styling-p {
  font-size: 2rem;
}

.high-score-placeholder, 
.high-score, 
.guess-count-placeholder, 
.guess-count {
  font-size: 2.5rem;
  color: #404041;
  font-weight: 300;
  margin-left: 5px;
}

.top-bttn:hover {
  background-color: #5599CC;
}

.reset-blue:hover {
  background-color: #5599CC;
}

.blue-user::placeholder {
  color: #5599CC;
}
